<div ng-if="entListCtrl.entityName == 'kitchen' && !(entListCtrl.isFullList && entListCtrl.entity.length == 0)" class="panel-countries-content-after-line demo-block">
    <div class="kindsoffood-kitchen-filter">
        <span ng-repeat="(key, type) in entListCtrl.kitchenTypes" class="{{ type.alias }}" ng-class="{'active': entListCtrl.selectedTypes.indexOf(key) != -1}" ng-click="entListCtrl.toggleType(key)">
            <span></span>
            <div class="{{ type.alias }}-icon"></div>
            <div class="linkname">{{ type.title }}</div>
        </span>
    </div>
    <div class="sorting-block-on-off-cityorregion kindsoffood-kitchen-filter" ng-if="entListCtrl.curAreaType == 2">
        <span ng-class="{'active': entListCtrl.selectedGeos.indexOf(2) != -1}" ng-click="entListCtrl.toggleGeo(2)">
            <span></span>
            <div class="citykitchen-icon"></div>
            <div class="linkname">Город</div>
        </span>
        &nbsp;&nbsp;&nbsp;
        <span ng-class="{'active': entListCtrl.selectedGeos.indexOf(1) != -1}" ng-click="entListCtrl.toggleGeo(1)">
            <span></span>
            <div class="regionkitchen-icon"></div>
            <div class="linkname">Регион</div>
        </span>
    </div>
</div>
<div class="left-column">
    <div class="entity-list">
        <masonry reload-on-show ng-show="entListCtrl.showGrid" class="js-masonry" item-selector=".item-isotope-cart">
            <div masonry-brick ng-repeat="element in entListCtrl.entity" class="item-isotope-cart">
                <a ui-sref="countrypage.entityPage({entityItemId: element.id, entityName: entListCtrl.entityName})">

                    <img class="preview" ng-src="{{element.web_image.files.length == 1 ? entListCtrl.baseUrl+element.web_image.files[0].path : entListCtrl.baseUrl+element.web_image.files[2].path}}">

                    <div class="cart-title">{{element.name}}</div>
                    <div class="cart-description"></div>
                </a>
                <geo-links areas="element.area"></geo-links>
                <div class="cart-optional">
                    <div><span class="eyes-icon"></span>{{element.view_count}}</div>
                    <div><span class="like-icon"></span>{{element.like_count}}</div>
                    <div><span class="comments-icon"></span>{{element.comment_count}}</div>
                </div>
            </div>
        </masonry>
    </div>
    <div class="more-button" ng-if="entListCtrl.entity.length > entListCtrl.pagesize" ng-show="entListCtrl.entity.length > 0 && (entListCtrl.entity.length % entListCtrl.pagesize == 0)">
        <a href="" id="getBlogs" class="">
            {{entListCtrl.moreButtonText}}
        </a>
    </div>

    <div ng-if="entListCtrl.entity_text.length > 0 && (entListCtrl.isFullList && entListCtrl.entity.length == 0)" class="hrtext-oncountries">
        <div class="on-block" ng-bind-html="entListCtrl.entity_text">
        </div>
    </div>
</div>
<div class="sidebar">
    <div advert type="left"></div>
</div>
<div ng-if="entListCtrl.entity_text.length > 0 && !(entListCtrl.isFullList && entListCtrl.entity.length == 0)" class="hrtext-oncountries">
    <div class="on-block" ng-bind-html="entListCtrl.entity_text">
    </div>
</div>

<script type="text/javascript-lazy">
    $('.more-button').click(function(){
        $('.entity-list').css('max-height', '100%');
        $('.more-button').hide('slow');
    });
</script>