<div ng-init="$scope.showMap = false" ng-init="$scope.showGallery = false">
	<div entity-binding></div>
	<!--<geo-links areas="entPageCtrl.entityInfo.area"></geo-links>-->
	<div entity-title class="area-header"></div>
	<div class="category-filters" ng-if="entPageCtrl.entityInfo.property.length > 0">
		<a ng-repeat="proper in entPageCtrl.entityInfo.property" ng-if="proper.id < 10" href="" class="category-filter-area">
	    	<span class="icon-filter-{{proper.id}}"></span>
	        	{{proper.name}}
	    </a>

	    <a href="" class="show-onmap-btn" ng-click="$scope.showMap = !$scope.showMap" ng-show="!$scope.showMap && $scope.showGallery">Показать на карте<span class="icon-map"></span></a>
	    <a href="" class="close-onmap-btn" ng-click="$scope.showMap = !$scope.showMap" ng-show="$scope.showMap && $scope.showGallery">Закрыть карту<span class="icon-close"></span></a>
	    <a href="" class="close-onmap-btn" ng-click="$scope.showGallery = !$scope.showGallery" ng-show="$scope.showMap && !$scope.showGallery">Закрыть галерею<span class="icon-close"></span></a>
	</div>
	<div ng-if="!$scope.showMap" class="landmark-page-body">
		<div class="left-column">
			<div ng-if="entPageCtrl.entityName === 'people' || entPageCtrl.entityName === 'kitchen'" class="img-galery">
				<div class="feature-image-container" ng-if="entPageCtrl.entityInfo.image.name.length > 0 && entPageCtrl.entityInfo.image.name != 'System'">
					<img ng-if="entPageCtrl.entityInfo.web_image.files[entPageCtrl.origImageIndex]['width'] <= entPageCtrl.maxAbsoluteImageWidth
		               && entPageCtrl.entityInfo.web_image.files[entPageCtrl.origImageIndex]['height'] <= entPageCtrl.maxAbsoluteImageHeight"
		           ng-src="{{entPageCtrl.baseUrl}}{{entPageCtrl.entityInfo.web_image.files[entPageCtrl.origImageIndex]['path']}}"
						 class="can-modal one"
		           ng-class="{'feature-image-wrap' : entPageCtrl.entityInfo.web_image.files[entPageCtrl.origImageIndex]['width'] <= entPageCtrl.maxImageWidth}" />

		   	  		<img ng-if="(entPageCtrl.entityInfo.web_image.files[entPageCtrl.origImageIndex]['width'] > entPageCtrl.maxAbsoluteImageWidth
		                   || entPageCtrl.entityInfo.web_image.files[entPageCtrl.origImageIndex]['height'] > entPageCtrl.maxAbsoluteImageHeight)"
		           ng-src="{{entPageCtrl.baseUrl}}{{entPageCtrl.entityInfo.web_image.files[entPageCtrl.fullImageIndex]['path']}}"
				   class="can-modal two"
		           ng-class="{'feature-image-wrap' : entPageCtrl.entityInfo.web_image.files[entPageCtrl.fullImageIndex]['width'] <= entPageCtrl.maxImageWidth}" />
				</div>
				<div ng-if="(entPageCtrl.entityInfo.web_image.name.length <= 0 || entPageCtrl.entityInfo.web_image.name === 'System') && entPageCtrl.entityInfo.text.length > 0 && entPageCtrl.entityInfo.full_text.length < 0" ng-bind-html="entPageCtrl.entityInfo.text" class="has-can-modals main-content"></div>
			</div>
			<div ng-if="entPageCtrl.entityName === 'feature' || entPageCtrl.entityName === 'event'" class="img-galery">
		    	<div class="feature-image-container" ng-if="entPageCtrl.entityInfo.web_image.name.length > 0">
		       		<img ng-if="entPageCtrl.entityInfo.web_image.files[entPageCtrl.origImageIndex]['width'] <= entPageCtrl.maxAbsoluteImageWidth
		               && entPageCtrl.entityInfo.web_image.files[entPageCtrl.origImageIndex]['height'] <= entPageCtrl.maxAbsoluteImageHeight"
		           ng-src="{{entPageCtrl.baseUrl}}{{entPageCtrl.entityInfo.web_image.files[entPageCtrl.origImageIndex]['path']}}"
						 class="can-modal one"
		           ng-class="{'feature-image-wrap' : entPageCtrl.entityInfo.web_image.files[entPageCtrl.origImageIndex]['width'] <= entPageCtrl.maxImageWidth}" />

		   	  <img ng-if="(entPageCtrl.entityInfo.web_image.files[entPageCtrl.origImageIndex]['width'] > entPageCtrl.maxAbsoluteImageWidth
		                   || entPageCtrl.entityInfo.web_image.files[entPageCtrl.origImageIndex]['height'] > entPageCtrl.maxAbsoluteImageHeight)"
		           ng-src="{{entPageCtrl.baseUrl}}{{entPageCtrl.entityInfo.web_image.files[entPageCtrl.fullImageIndex]['path']}}"
				   class="can-modal two"
		           ng-class="{'feature-image-wrap' : entPageCtrl.entityInfo.web_image.files[entPageCtrl.fullImageIndex]['width'] <= entPageCtrl.maxImageWidth}" />
		    	</div>
		    	<div ng-if="(entPageCtrl.entityInfo.web_image.name.length <= 0 ) && entPageCtrl.entityInfo.text.length > 0" ng-bind-html="entPageCtrl.entityInfo.text"></div>
		    </div>
			
			<div ng-if="entPageCtrl.entityInfo.text.length > 0" ng-bind-html="entPageCtrl.entityInfo.text" class="has-can-modals main-content"></div>
			<div ng-if="entPageCtrl.entityInfo.detail.length > 0" ng-bind-html="entPageCtrl.entityInfo.detail" class="has-can-modals main-content"></div>
			<div ng-if="entPageCtrl.entityInfo.full_text.length > 0" ng-bind-html="entPageCtrl.entityInfo.full_text" class="has-can-modals main-content"></div>
		</div>
		<dic class="sidebar">
			<div advert type="left"></div>
			<div ng-if="['landmark', 'feature', 'people', 'kitchen', 'event'].indexOf(entPageCtrl.entityName) != -1" see-also></div>
		</div>
		
	</div>
	</div>
	<div ng-if="$scope.showMap" class="map-container" ng-controller="seeSquareController">
		<map></map>
	</div>
</div>

<script>
	$(document).ready(function () {
		$(".page-wrap").on("click", "img.can-modal", apply_img_modals);
		$(".page-wrap").on("click", ".landmark-page-body .has-can-modals img", apply_img_modals);
		function apply_img_modals(evt) {
			evt.stopPropagation();
			evt.preventDefault();
			var img_orig = $('#modal-img').find('img')[0];
			$(img_orig).attr('src', '');
			var src = $(this).attr('src');
			var src_orig = src.replace('bigHeight', 'original');
			var src_orig = src_orig.replace('big', 'original');
			var src_orig = src_orig.replace('medium3', 'original');
			var src_orig = src_orig.replace('medium2', 'original');
			var src_orig = src_orig.replace('medium', 'original');
			var src_orig = src_orig.replace('thumbnail', 'original');
			var src_orig = src_orig.replace('small', 'original');
			$(img_orig).attr('src', src_orig);
			$('#modal-img').modal();
		};
	});
</script>