<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <link href="/src/styles/kendo.common.css" rel="stylesheet">
    <link href="/src/styles/kendo.rtl.css" rel="stylesheet">
    <link href="/src/styles/kendo.metro.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    {% if admin == true %}
    <script src="/src/js/kendo.web.js"></script>
    <script src="/src/js/messages/kendo.messages.ru-RU.js"></script>
    <script src="/js/cultturist.relations.js?v={{ jsversion }}"></script>
    <script src="/js/cultturist.customupload.js?v={{ jsversion }}"></script>
    <script src="/js/cultturist.imap.js?v={{ jsversion }}"></script>
    <script src="/js/console.js"></script>
    <script src="/js/cultturist.core.js?v={{ jsversion }}"></script>
    <script src="/js/cultturist.other.js?v={{ jsversion }}"></script>
    <script src="/js/cultturist.area.js?v={{ jsversion }}"></script>
    <script src="/js/cultturist.landmark.js?v={{ jsversion }}"></script>
    <script src="/js/cultturist.landmarkproperty.js?v={{ jsversion }}"></script>
    <script src="/js/cultturist.people.js?v={{ jsversion }}"></script>
    <script src="/js/cultturist.iblock.js?v={{ jsversion }}"></script>
    <script src="/js/cultturist.kitchen.js?v={{ jsversion }}"></script>
    <script src="/js/cultturist.feature.js?v={{ jsversion }}"></script>
    <script src="/js/cultturist.event.js?v={{ jsversion }}"></script>
    <script src="/js/kendo.data.cultturist.js?v={{ jsversion }}"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="/js/admin.js?v={{ jsversion }}"></script>
    {% endif %}     
</head>
<body>
    <div id="root" class="k-content">
        {% if admin != true %}
            <form method="post">
                <div class="k-widget k-header k-tabstrip singin">
                {% if error != false %}
                    <i style="color:red;">{{ error }}</i>
                {% endif %}
                    <div class="singinCell">
                        <div style="width:40%; float: left"><p>Логин:</p></div>
                        <div style="width:60%; float: right"><p><input type="text" class="k-input k-textbox" name="login"></p></div>
                    </div>
                    <div class="singinCell">
                        <div style="width:40%; float: left"><p>Пароль:</p></div>
                        <div style="width:60%; float: right"><p><input type="password" class="k-input k-textbox" name="password"></p></div>
                    </div>  
                    <div class="singinCell" style="margin-top: 5%;">
                        <input type="submit" class="k-button">
                    </div> 
                </div>
            </form>
        {% else %}
            <div id="tabstrip"></div>
            <div id="topmenu"></div>
            <div id="content"></div>
        {% endif %}        
    </div>
</body>
</html>
