<span  ng-init="$scope.showGallery = false"></span>
<div ng-controller="mainController as mainCtrl" ng-if="!$scope.showGallery">
    <div area-album></div>
    
    <div class="left-column">
    <div ng-show="mainCtrl.showGrid" class="map-on-countries">
        <iframe width="100%" height="270" frameborder="0" style="border:0" ng-src="{{mainCtrl.googleMapsEmbedUrl}}"></iframe>
    </div>

    <!-- in HTML -->
    <div class="editors-choice js-isotope" ng-show="mainCtrl.stickedArts.length > 0">
    <h2>Выбор редакции</h2>
        <div style="height: 1px;overflow: hidden;">
            <div ng-repeat="element in mainCtrl.stickedArts">
                <img ng-if="element.entity == 'landmark'" class="preview" ng-src="{{mainCtrl.baseUrl}}{{element.image.files[2].path}}">
                <img ng-if="element.entity != 'landmark'" class="preview" ng-src="{{mainCtrl.baseUrl}}{{element.web_image.files[2].path}}">
            </div>
        </div>
        <div masonry reload-on-resize ng-show="mainCtrl.showSticked" class="js-masonry" item-selector=".item-isotope-cart">
            <div masonry-brick ng-repeat="element in mainCtrl.stickedArts" class="item-isotope-cart">
                <a ui-sref="countrypage.entityPage({entityItemId: element.id, entityName: element.entity})">
                    <span class="icon-{{element.entity}}"></span>
                    <img ng-if="element.entity == 'landmark'" class="preview" ng-src="{{mainCtrl.baseUrl}}{{element.image.files[2].path}}">
                    <img ng-if="element.entity != 'landmark'" class="preview" ng-src="{{mainCtrl.baseUrl}}{{element.web_image.files[2].path}}">
                    <div class="cart-title">{{element.name}}</div>
                    <div class="cart-description"></div>
                </a>
                <!--too many areas! wtf?-->
                <!--<geo-links areas="landmark.area"></geo-links>-->
                <geo-links ng-if="element.entity == 'landmark'" areas="element.area | withoutCitiesFilter: element.regional" ></geo-links>
                <div class="cart-optional">
                    <div><span class="eyes-icon"></span>{{element.view_count}}</div>
                    <div><span class="like-icon"></span>{{element.like_count}}</div>
                    <div><span class="comments-icon"></span>{{element.comment_count}}</div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 1px;overflow: hidden;">
        <div masonry ng-repeat="element in mainCtrl.recentArts">
            <img ng-if="element.entity == 'landmark'" class="preview" ng-src="{{mainCtrl.baseUrl}}{{element.image.files[2].path}}">
            <img ng-if="element.entity != 'landmark'" class="preview" ng-src="{{mainCtrl.baseUrl}}{{element.web_image.files[2].path}}">
        </div>
    </div>
    <div class="recent-articles editors-choice js-isotope" ng-show="mainCtrl.recentArts.length > 0">
    <h2>Все статьи</h2>
       
        <div masonry masonry-options="{ transitionDuration: '0.4s' }" ng-show="mainCtrl.showGrid" reload-on-show class="js-masonry recent-articles-masorny" item-selector=".item-isotope-cart">
            <div masonry-brick ng-repeat="element in mainCtrl.recentArts" class="item-isotope-cart">
                <a ui-sref="countrypage.entityPage({entityItemId: element.id, entityName: element.entity})">
                    <span class="icon-{{element.entity}}"></span>
                    <img ng-if="element.entity == 'landmark'" class="preview" ng-src="{{mainCtrl.baseUrl}}{{element.image.files[2].path}}">
                    <img ng-if="element.entity != 'landmark' && element.entity != 'event'" class="preview" ng-src="{{element.web_image.files.length == 1 ? mainCtrl.baseUrl+element.web_image.files[0].path : mainCtrl.baseUrl+element.web_image.files[2].path}}">
                    <img ng-if="element.entity == 'event'" class="preview" ng-src="{{element.web_image.files.length == 1 ? mainCtrl.baseUrl+'/upload/images/empty.jpg' : mainCtrl.baseUrl+element.web_image.files[2].path}}">
                    <div class="cart-title">{{element.name}}</div>
                    <div class="cart-description"></div>
                </a>
                <geo-links ng-if="element.entity == 'landmark'" areas="element.area | withoutCitiesFilter: element.regional" ></geo-links>
                <div class="cart-optional">
                    <div><span class="eyes-icon"></span>{{element.view_count}}</div>
                    <div><span class="like-icon"></span>{{element.like_count}}</div>
                    <div><span class="comments-icon"></span>{{element.comment_count}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="more-button" ng-show="mainCtrl.recentArts.length > 0
                && (mainCtrl.recentArts.length != mainCtrl.total)
                && mainCtrl.showGrid">
        <a href="" id="getBlogs" class="" ng-click="mainCtrl.loadmore()">
            {{mainCtrl.moreButtonText}}
        </a>
    </div>
    </div>
    <div class="sidebar">
        <div class="sidebar-right">
            <div class="sidebar-category-link full-width-link">
                <ul>
                    <li><a id="bilets-cat" href=""><span></span>Билеты</a></li>
                    <li><a id="hotels-cat" href=""><span></span>Отели</a></li>
                    <li><a id="strahovki-cat" href=""><span></span>Страховки</a></li>
                    <li><a id="auto-cat" href=""><span></span>Авто</a></li>
                    <li><a id="ekscursii-cat" href=""><span></span>Экскурсии</a></li>
                </ul>

            </div>
        </div>
        <div advert type="left"></div>
        <div class="sidebar-right-bottom geo-sidebar">
            <div class="sidebar-whowillhere">
                <div class="sidebarTitle">Здесь побывали</div>
                <ul>
                    <li><a href=""><span><img alt="" src="./images/avatar-mini.png"></span>Барак Обама</a></li>
                    <li><a href=""><span><img alt="" src="./images/avatar-mini.png"></span>Барак Обама</a></li>
                    <li><a href=""><span><img alt="" src="./images/avatar-mini.png"></span>Барак Обама</a></li>
                    <li><a href=""><span><img alt="" src="./images/avatar-mini.png"></span>Барак Обама</a></li>
                    <li><a href=""><span><img alt="" src="./images/avatar-mini.png"></span>Барак Обама</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div ng-if="$scope.showGallery" class="main-content" gallery>
		
</div>
