<div class="advert" ng-controller="advertController as advCtrl" type="left" my-main-directive>
    <div class="single_object" ng-repeat="adv in advCtrl.adverts track by $index">
        <div ng-if="adv.type == 'flash'" id="{{'flash' + $index}}" data-path="{{advCtrl.baseUrl + '/' + adv.banner.path}}" data-height="{{adv.banner.height}}" data-width="{{adv.banner.width}}">
            
        </div>
        <div ng-if="adv.type == 'image'" id="{{'image' + $index}}">
            <a ng-href="{{adv.banner_link}}"><img ng-src="{{advCtrl.baseUrl + '/' + adv.banner.path}}" width="{{adv.banner.width}}" height="{{adv.banner.height}}"></a>
        </div>
        <div ng-if="adv.type == 'text'" id="{{'text' + $index}}">
            <p ng-bind-html="sce.trustAsHtml(adv.widget)"></p>
        </div>
        <div ng-if="adv.type == 'empty'" id="{{'image' + $index}}">
            <p my-repeat-directive>{{adv.banner.id}}</p>
        </div>
    </div>
</div>