<div entity-binding></div>
<!--<geo-links areas="gCtrl.entityInfo.area"></geo-links>-->
<div entity-title class="area-header"></div>
<span  ng-init="$scope.showGallery = false"></span>
<div class="landmark-page-body" ng-if="!$scope.showGallery">
	<div class="left-column">
		<div area-album></div>
		<div ng-if="gCtrl.text.length > 0" ng-bind-html="gCtrl.text" class="has-can-modals main-content"></div>
	</div>
	<div class="sidebar">
		<div advert type="left"></div>
	</div>
</div>
<div ng-if="$scope.showGallery" class="main-content" gallery>
<script>
	$(document).ready(function () {
		$(".page-wrap").on("click", "img.can-modal", apply_img_modals);
		$(".page-wrap").on("click", ".landmark-page-body .has-can-modals img", apply_img_modals);
		function apply_img_modals(evt) {
			evt.stopPropagation();
			evt.preventDefault();
			var img_orig = $('#modal-img').find('img')[0];
			$(img_orig).attr('src', '');
			var src = $(this).attr('src');
			var src_orig = src.replace('bigHeight', 'original');
			var src_orig = src_orig.replace('big', 'original');
			var src_orig = src_orig.replace('medium3', 'original');
			var src_orig = src_orig.replace('medium2', 'original');
			var src_orig = src_orig.replace('medium', 'original');
			var src_orig = src_orig.replace('thumbnail', 'original');
			var src_orig = src_orig.replace('small', 'original');
			$(img_orig).attr('src', src_orig);
			$('#modal-img').modal();
		}
	});
</script>