<div ng-controller="seeAlsoController as seeAlsoCtrl">

    <div class="sidebar-right-bottom" ng-if="seeAlsoCtrl.seeAlso.length">

        <div ng-if="['feature', 'people', 'kitchen', 'event'].indexOf(seeAlsoCtrl.entityName) != -1" class="sidebar-fishki">
            <div class="sidebarTitleFishki">Популярное</div>
            <div class="Dostoprimechatelnosti">
                <div ng-repeat="alsoFeature in seeAlsoCtrl.seeAlso">
                    <a href="#/area/{{ alsoFeature.area[alsoFeature.area.length - 1]['id'] }}/{{ seeAlsoCtrl.entityName }}/{{ alsoFeature.id }}">
                        <img ng-src="{{seeAlsoCtrl.baseUrl}}{{ alsoFeature.web_image.files['2']['path'] }}">
                        {{ alsoFeature.name }}
                    </a>
                    <div geo-links areas="alsoFeature.area"></div>
                </div>
            </div>
        </div>

        <div ng-if="seeAlsoCtrl.entityName == 'landmark'" class="sidebar-fishki">
            <div class="sidebarTitleFishki">Достопримечательности рядом</div>
            <div class="Dostoprimechatelnosti">
                <div ng-repeat="alsoLandmark in seeAlsoCtrl.seeAlso">
                    <a href="#/area/{{ alsoLandmark.area[alsoLandmark.area.length - 1]['id'] }}/landmark/{{ alsoLandmark.id }}">
                        <img ng-src="{{seeAlsoCtrl.baseUrl}}{{ alsoLandmark.image.files['2']['path'] }}">
                        {{ alsoLandmark.name }}
                        <span ng-if="alsoLandmark.rating != 0" class="raiting-news-block star-{{alsoLandmark.rating}}"></span>
                    </a>
                    <a href="" class="misto" ng-if="1000 > alsoLandmark.distance"><span class="znak-1"> </span>{{ alsoLandmark.distance }} м.</a>
                    <a href="" class="misto" ng-if="1000 <= alsoLandmark.distance" style="margin: 0"><span class="icon-tabl mTop0"></span>{{ alsoLandmark.distance/1000 }} км.</a>
                    <ul>
                        <li ng-repeat="anArea in alsoLandmark.area">
                            <a href="">{{ anArea['name'] }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>