<div ng-init="$scope.showMap = false" ng-init="$scope.showGallery = false">
	<div class="breadcrumbs text-center">
		<div class="category-object" ng-if="lmPgCtrl.entityInfo.property.length > 0">
			<a ng-repeat="proper in lmPgCtrl.entityInfo.property" ng-if="proper.id < 10" href="" class="bread-soor">
	    		<span class="icon-filter-{{proper.id}}"></span>
	        		{{lmPgCtrl.entityInfo.property[1].name}}
	    	</a>
		</div>
		<geo-links areas="lmPgCtrl.entityInfo.area | withoutCitiesFilter: lmPgCtrl.entityInfo.regional" class="city-countries-breadcumbs"></geo-links>
	</div>
	<div entity-title class="area-header"></div>
	<div ng-if="!$scope.showMap && !$scope.showGallery" class="landmark-page-body">
		<div class="left-column">

		<div class="img-galery photoBlock">
       		<div ng-if="lmPgCtrl.entityInfo.image.name != 'System'" class="mainPhoto">
				<img ng-src="{{lmPgCtrl.entityInfo.image.files[lmPgCtrl.mainImageFileIndex]['path']}}" class="can-modal"></img>
       		</div>
       		<div class="morePhoto">
       			<div ng-if="lmPgCtrl.entityInfo.gallery.length > 0" class="morePhotoImages">
       				<div ng-repeat="(photoKey, fileKey) in lmPgCtrl.morePhotoFileIndex" class="aPhoto">
       					<img ng-src="{{lmPgCtrl.entityInfo.gallery[photoKey].files[fileKey]['path']}}" class="can-modal"></img>
       				</div>
       				<div class="photoCount" ng-click="$scope.showGallery = !$scope.showGallery" ng-show="!$scope.showGallery"><span>{{lmPgCtrl.entityInfo.gallery.length + 1}} фото</span></div>
       			</div>
       			<div class="aButtonContainer">
       				<a class="aButton">+ Добавить фото</a>
       			</div>
       		</div>
		</div>
		<div ng-if="lmPgCtrl.entityInfo.text.length > 0" ng-bind-html="lmPgCtrl.entityInfo.text" class="has-can-modals"></div>
		<div ng-if="lmPgCtrl.entityInfo.detail.length > 0" ng-bind-html="lmPgCtrl.entityInfo.detail" class="has-can-modals"></div>
		<div ng-if="lmPgCtrl.entityInfo.full_text.length > 0" ng-bind-html="lmPgCtrl.entityInfo.full_text" class="has-can-modals main-content"></div>
	</div>
		<div class="sidebar">
			<div advert type="left"></div>
			<div see-also></div>
		</div>
	</div>
	<div ng-if="$scope.showMap" class="map-container" ng-controller="seeSquareController">
		<map></map>
	</div>
	<div ng-if="$scope.showGallery" class="main-content" gallery>
		
	</div>
</div>


<script>
	$(document).ready(function () {
		$(".page-wrap").on("click", "img.can-modal", apply_img_modals);
		$(".page-wrap").on("click", ".landmark-page-body .has-can-modals img", apply_img_modals);
		function apply_img_modals(evt) {
			evt.stopPropagation();
			evt.preventDefault();
			var img_orig = $('#modal-img').find('img')[0];
			$(img_orig).attr('src', '');
			var src = $(this).attr('src');
			var src_orig = src.replace('bigHeight', 'original');
			var src_orig = src_orig.replace('big', 'original');
			var src_orig = src_orig.replace('medium3', 'original');
			var src_orig = src_orig.replace('medium2', 'original');
			var src_orig = src_orig.replace('medium', 'original');
			var src_orig = src_orig.replace('thumbnail', 'original');
			var src_orig = src_orig.replace('small', 'original');
			$(img_orig).attr('src', src_orig);
			$('#modal-img').modal();
		};
	});
</script>