<div ng-init="showMap = false">
        <div class="line-4" style="margin: 20px 0;">
            <div class="panel-countries-content-after-line">
                <div class="simple-filters-onecount">
                    <div class="btn-grp right">
                        <a href="" id="" class="filter-btn-dost" ng-show="!showMap" ng-click="showFilter = !showFilter">Фильтры</a>
                        <a href="" id="" class="show-onmap-btn" ng-click="showMap = !showMap;" ng-show="!showMap && lmCtrl.area_t != 0" >Показать на карте<span class="icon-map"></span></a>
                        <a href="" id="" class="close-onmap-btn" ng-click="showMap = !showMap; lmCtrl.mapSubFilters = false;mapFilters = 0" ng-show="showMap">Закрыть карту<span class="icon-close"></span></a>
                    </div>
                </div>
            </div>
        </div>

    <div ng-show="showFilter && !showMap" class="landmark-filters">
        <div class="categories">
            <span ng-click="showFilter=false;" class="reset"></span>
            <div class="period">Тип <a href="" class="category-filter-btn" ng-click="lmCtrl.resetFilter()">Все</a></div>
            <div class="category-filters">
                <a href="" class="category-filter-btn" ng-class="{active:additionalFilters.indexOf(2)!=-1}" ng-click="lmCtrl.addFilter(2)"><span class="icon-filter-2"></span>Культовое сооружение</a>
                <a href="" class="category-filter-btn" ng-class="{active:additionalFilters.indexOf(5)!=-1}" ng-click="lmCtrl.addFilter(5)"><span class="icon-filter-5"></span>Светское сооружение</a>
                <a href="" class="category-filter-btn" ng-class="{active:additionalFilters.indexOf(1)!=-1}" ng-click="lmCtrl.addFilter(1)"><span class="icon-filter-1"></span>Крепость</a>
                <a href="" class="category-filter-btn" ng-class="{active:additionalFilters.indexOf(6)!=-1}" ng-click="lmCtrl.addFilter(6)"><span class="icon-filter-6"></span>Музей и театр</a>
                <a href="" class="category-filter-btn" ng-class="{active:additionalFilters.indexOf(4)!=-1}" ng-click="lmCtrl.addFilter(4)"><span class="icon-filter-4"></span>Природный памятник</a>
                <a href="" class="category-filter-btn" ng-class="{active:additionalFilters.indexOf(3)!=-1}" ng-click="lmCtrl.addFilter(3)"><span class="icon-filter-3"></span>Квартал</a>
            </div>
        </div>
        <div class="filter-search-block-2" ng-hide="lmCtrl.lowerFilters.length == 0">
            <a href="" class="category-subfilter-btn" ng-repeat="subFilter in lmCtrl.lowerFilters" ng-class="{active:additionalFilters.indexOf(subFilter.id)!=-1}" ng-click="lmCtrl.addFilter(subFilter.id, 1)">{{subFilter.name}}</a> <!-- class active для подсветки -->
        </div>
    </div>

    <div ng-if="!showMap" class="landmarks-list-page-body">
        <div class="left-column">
            <div class="countries-dost">
                <div style="height: 1px;overflow: hidden;">
                    <img ng-repeat="landmark in lmCtrl.landmarks" ng-src="{{lmCtrl.baseUrl}}{{landmark.image.files[2].path}}" width="1" height="1">
                </div>
                <div masonry ng-show="lmCtrl.showGrid" reload-on-show class="js-masonry" item-selector=".item-isotope-cart">
                    <div masonry-brick ng-repeat="landmark in lmCtrl.landmarks" class="item-isotope-cart">
                        <a ui-sref="countrypage.landmarkPage({landmarkId: landmark.id})">
                            <div ng-show="landmark.property.length" class="landmark-icon">
                                <img ng-src="{{lmCtrl.baseUrl}}{{landmark.property[0].icon.files[1].path}}">
                            </div>
                            <img class="preview" ng-src="{{lmCtrl.baseUrl}}{{landmark.image.files[2].path}}">

                            <div class="cart-title">{{landmark.name}}</div>
                            <!--<div class="cart-description">{{landmark.build_year}}</div>-->
                        </a>
                        <geo-links areas="landmark.area | withoutCitiesFilter: landmark.regional"></geo-links>
                        <div class="cart-optional">
                            <div><span class="eyes-icon"></span>{{landmark.view_count}}</div>
                            <div><span class="like-icon"></span>{{landmark.like_count}}</div>
                            <div><span class="comments-icon"></span>{{landmark.comment_count}}</div>
                        </div>
                    </div>
                </div>
                <div class="more-button" ng-show="
                lmCtrl.landmarks.length > 0
                && (lmCtrl.landmarks.length != lmCtrl.total)
                && lmCtrl.showGrid">
                    <a href="" ng-click="lmCtrl.loadMore()" id="getBlogs" class="">
                        {{lmCtrl.moreButtonText}}
                    </a>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <div advert type="left"></div>
            <!--<div class="banner"><a href="#"><img alt="" ng-src="../../../../static/images/banner-sidebar.png"></a></div>-->
        </div>
    </div>
    <div ng-if="!lmCtrl.isVicinity && !showMap && lmCtrl.entity_text.length != 0" ng-show="lmCtrl.showGrid" class="hrtext-oncountries">
        <div class="on-block" ng-bind-html="lmCtrl.entity_text">
        </div>
    </div>
    <div ng-if="showMap" class="map-container">
        <div class="category-filters">
            <a href="" class="main-filter category-filter-btn" ng-class="{active:mapFilters ==0}" ng-click="lmCtrl.fromList()">Из списка</a>
            <a href="" class="main-filter category-filter-btn" ng-class="{active:mapFilters ==9}" ng-click="lmCtrl.allFandmarksFilter()">Все</a>
            <div class="den_clearfix"></div>
            <div class="map-filters" ng-show="lmCtrl.mapSubFilters">
                <a href="" class="category-filter-btn" ng-class="{active:mapFilters ==2}" ng-click="lmCtrl.mapFilter(2)"><span class="icon-filter-2"></span>Культовое сооружение</a>
                <a href="" class="category-filter-btn" ng-class="{active:mapFilters ==5}" ng-click="lmCtrl.mapFilter(5)"><span class="icon-filter-5"></span>Светское сооружение</a>
                <a href="" class="category-filter-btn" ng-class="{active:mapFilters ==1}" ng-click="lmCtrl.mapFilter(1)"><span class="icon-filter-1"></span>Крепость</a>
                <a href="" class="category-filter-btn" ng-class="{active:mapFilters ==6}" ng-click="lmCtrl.mapFilter(6)"><span class="icon-filter-6"></span>Музей и театр</a>
                <a href="" class="category-filter-btn" ng-class="{active:mapFilters ==4}" ng-click="lmCtrl.mapFilter(4)"><span class="icon-filter-4"></span>Природный памятник</a>
                <a href="" class="category-filter-btn" ng-class="{active:mapFilters ==3}" ng-click="lmCtrl.mapFilter(3)"><span class="icon-filter-3"></span>Квартал</a>
            </div>
        </div>
        <div class="map-wrap">
            <p class="map-loading" ng-show="lmCtrl.map_load"><img src="./static/images/spinner.gif"/>Пожалуйста подождите, достопримечательности загружаются...</p>
            <map></map>
        </div>
    </div>
</div>