<div>
<div class="shadow-block"> </div>
<div class="block-recommended">
    <div class="head-rec">Поделиться</div>
    <ul>
        <li class=""><a href=""><img alt="" src="../site/static/images/social/youtube-rec.png"></a></li>
        <li class=""><a href=""><img alt="" src="../site/static/images/social/fb-rec.png"></a></li>
        <li class=""><a href=""><img alt="" src="../site/static/images/social/tw-rec.png"></a></li>
        <li class=""><a href=""><img alt="" src="../site/static/images/social/skype-rec.png"></a></li>
        <li class=""><a href=""><img alt="" src="../site/static/images/social/instagram-rec.png"></a></li>
        <li class=""><a href=""><img alt="" src="../site/static/images/social/rss-rec.png"></a></li>
        <li class=""><a href=""><img alt="" src="../site/static/images/social/google-rec.png"></a></li>
        <li class=""><a href=""><img alt="" src="../site/static/images/social/link-rec.png"></a></li>
        <li class=""><a href=""><img alt="" src="../site/static/images/social/lj-rec.png"></a></li>
        <li class=""><a href=""><img alt="" src="../site/static/images/social/vk-rec.png"></a></li>
    </ul>
</div>
<div class="block-interested-out">
    <div class="block-interested">
        <div class="head-int">Вам также будет интересно</div>
        <div class="block-news-one width25" ng-repeat="one in bBCtrl.data">
            <div ng-if="one.entityName!='area'">
                <a href="#/area/{{ one.area[one.area.length-1].id }}/{{one.entityName}}/{{one.id}}">
                    <span ng-if="one.entityName != 'landmark'" class="icon-{{ one.entityName }}"></span>
                    <span ng-if="one.entityName == 'landmark' && one.rating != 0" class="raiting-news-block star-{{one.rating}}"></span>
                    <img alt="" ng-src="{{bBCtrl.baseUrl}}{{ one.web_image.files[2].path }}">
                </a>
                <a href="#/area/{{ one.area[one.area.length-1].id }}/{{one.entityName}}/{{one.id}}" class="name-int">
                    {{ one.name.ru }}
                </a>
            </div>
            <div ng-if="one.entityName=='area'">
                <a href="#/area/{{one.id}}">
                    <span class="icon-area"></span>
                    <img alt="" ng-src="{{bBCtrl.baseUrl}}{{ one.web_image.files[2].path }}"
                         ng-if="one.web_image.files[2]!==undefined">
                    <img alt="" ng-src="{{bBCtrl.baseUrl}}{{ one.web_image.files[one.web_image.files.length-1].path }}"
                         ng-if="one.web_image.files[2]===undefined">
                </a>
                <a href="#/area/{{one.id}}" class="name-int">{{ one.name.ru }}</a>
            </div>
            <geo-links areas="one.area"></geo-links>
            <div class="den_clearfix"></div>
            <p><span class="views">1218</span><span class="heart">48</span><span class="comments">2</span></p>
        </div>
    </div>
</div>

<div class="block-comments">
    <div class="head-comment">Комментарии</div>
    <div class="textarea-box">
        <div class="textarea">
            <div class="avatar-textarea-box"><img alt="" src="../site/static/images/avatar3.jpg"></div>
            <div><textarea ></textarea></div>
        </div>
    </div>
    <div class="comment comment-one">
        <div class="avatar-one-img"><img alt="" src="../site/static/images/avatar2.jpg"></div>
        <div class="text-comment">
            <p class="author-name">Анна домени<span class="author-date">16:30 17.12.2013</span></p>
            <p class="author-text">Он спешил к Свидригайлову.Чего он мог надеяться от этого человека - он и сам не знал. Но в этом
                человеке таилась какая-то власть над ним. Сознав это раз, он немог успокоиться.</p>
        </div>
    </div>
    <div class="clerfix"> </div>
    <div class="comment comment-one">
        <div class="avatar-one-img"><img alt="" src="../site/static/images/avatar1.jpg"></div>
        <div class="text-comment">
            <p class="author-name">Кларк Кент<span class="author-date">16:30 17.12.2013</span></p>
            <p class="author-text">Он спешил к Свидригайлову.Чего он мог надеяться от этого человека - он и сам не знал. Но в этом
                человеке таилась какая-то власть над ним. Сознав это раз, он немог успокоиться.</p>
        </div>
    </div>
    <div class="clerfix"> </div>
    <div class="shadow-block"> </div>
</div>
</div>