<div id="galleryFoto" ng-controller="galleryController as galCtrl" >
    <div ng-if="galCtrl.formedGallery.length > 0" class="one-time">
        <div ng-repeat="fileKey in galCtrl.formedGallery">
			<img src="{{fileKey.path}}" />
       	</div>
	</div>
    
    <div ng-if="galCtrl.formedGallery.length > 0" class="slider-nav">
        <div ng-repeat-start="fileKey in galCtrl.formedGallery" ng-if="!$last">
			<img src="{{fileKey.path}}" />
       	</div>
       	<div ng-repeat-end ng-if="$last">
			<img ng-class="{land: galCtrl.entityItemId === undefined}" src="{{fileKey.path}}" img-on-load/>
       	</div>
	</div>
</div>