<div class="city-countries-breadcumbs" ng-controller="EntityBindingController as ebCtrl">
    <div id="popoverContPreload" style="display: none">
        
        <span class="one-way-pop" ng-repeat="areaM in ebCtrl.allBinds.area">
            <a ng-repeat="area in areaM.upper | filter: {area_type: '0'}" ui-sref="countrypage({countryAlias: area.id })">{{area.name}}</a>
            <span ng-if="areaM.upper.length > 1"> - </span>
            <a ng-repeat="area in areaM.upper | filter: {area_type: '1'}" ui-sref="countrypage({countryAlias: area.id })">{{area.name}}</a>
            <span ng-if="areaM.upper.length == 2"> - </span>
            <a ui-sref="countrypage({countryAlias: areaM.id })">{{areaM.name}}</a>
            <br/>
        </span>
    
    </div>
        
    <a class="znak" tabindex="0" role="button" data-container="body" data-html="true" data-toggle="popover" data-placement="bottom"> </a>
    <a ng-repeat="area in ebCtrl.bind_areas | filter: {area_type: '0'}" ui-sref="countrypage({countryAlias: area.id })">{{area.name}}</a>
    <span ng-if="ebCtrl.bind_areas.length > 1"> - </span>
    <a ng-repeat="area in ebCtrl.bind_areas | filter: {area_type: '1'}" ui-sref="countrypage({countryAlias: area.id })">{{area.name}}</a>
    <span ng-if="ebCtrl.bind_areas.length > 2"> - </span>
    <a ng-repeat="area in ebCtrl.bind_areas | filter: {area_type: '2'}" ui-sref="countrypage({countryAlias: area.id })">{{area.name}}</a>
</div>

        <script type="text/javascript">
            $(function () { 
                $("[data-toggle='popover']").popover({
                    content: ' ',
                    trigger: 'focus'
                }); 
            });
            $("[data-toggle='popover']").on('shown.bs.popover', function () {
                var tmpHtml = $("#popoverContPreload").html().toString();
                $("div.popover-content").addClass('popoverLinks');
                $("div.popover-content").html(tmpHtml);
            });
        </script>