<div class="cart-location" ng-if="areas.length">
    <span class="icon-tabl"></span>
    <a ui-sref="countrypage({countryAlias: area_item.id })" ng-repeat="area_item in areas | orderBy:'area_type'">{{ area_item.name }}</a>
</div>