<div class="main">
    <div ui-view="area_topadvert" class="banner-top">
        
    </div>
    <div id="panel-countries-content">
        <div ui-view="area_header" class="area_header"></div>


    <!--<div class="shadow-block"></div>-->
        <div class="country-page-body">
            <div ui-view="area_body"></div>
        </div>
    </div>
</div>