<div ng-controller="EntityTitleController as etCtrl" ng-show="etCtrl.showTitle">
    <div class="left-column">
        <!-- Changes-->
        <div class="main-head">
            <h1>{{etCtrl.entityInfo.name}}</h1>
            <p>{{etCtrl.entityInfo.original_name}}</p>
            <p><span class="views">{{etCtrl.entityInfo.view_count}}</span><span class="comments">{{etCtrl.entityInfo.comment_count}}</span></p>
            <p class="liked"><a href="">Понравилось <span class="ng-binding">{{etCtrl.entityInfo.like_count}}</span></a></p>
        </div>
        <!-- Changes-->
        <!--<div><img src="images/main-img-place.jpg"></div>-->

    </div>


    <!--<div class="entity-title">-->
        <!--<div class="dosttext-head">-->
            <!--<div class="dosttext-title-str">-->
                <!--{{etCtrl.entityInfo.name}}-->
            <!--</div>-->
            <!--<div ng-show="etCtrl.entityInfo.alias.length > 0" class="dosttext-desc-str">-->
                <!--{{etCtrl.entityInfo.alias}}-->
            <!--</div>-->
            <!--<div class="optional-str-dosttext">-->
                <!--<div><span class="eyesbig-icon"></span>{{etCtrl.entityInfo.view_count}}</div>-->
                <!--<div><span class="commentsbig-icon"></span>{{etCtrl.entityInfo.comment_count}}</div>-->
            <!--</div>-->
            <!--<div class="likes-oncitypost">-->
                <!--<div class="btn-grp likes" ng-if="etCtrl.showWasHere">-->
                    <!--<a href="" id="like">Мне нравится <span class="ng-binding">{{etCtrl.entityInfo.like_count}}</span></a>-->
                    <!--<a href="" id="iwashere">Я тут был <span class="ng-binding">{{etCtrl.entityInfo.view_count}}</span></a>-->
                <!--</div>-->
                <!--<a href="#" id="like" ng-if="!etCtrl.showWasHere">Понравилось<span>{{etCtrl.entityInfo.like_count}}</span></a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="progress-wrapper" ng-show="etCtrl.isLandmark">-->
        <!--<div class="progress-title">Рейтинг</div>-->
        <!--<div class="progress">-->
            <!--<span style="width: {{20 * etCtrl.entityInfo.rating}}%"></span>-->
        <!--</div>-->
    <!--</div>-->
    <div ng-if="!etCtrl.isLandmark" class="sidebar-right">
        <div class="sidebar-category-link" ng-class="{'mini': etCtrl.entity == 'event'}">
            <ul>
                <li><a id="bilets-cat" href=""><span></span></a></li>
                <li><a id="hotels-cat" href=""><span></span></a></li>
                <li><a id="ekscursii-cat" href=""><span></span></a></li>
            </ul>
        </div>
    </div>
    <div ng-if="etCtrl.entity == 'event'" class="sidebar-right">
        <a class="event_time" tabindex="0" role="button" data-container="body"  data-html="true" data-trigger="focus" data-toggle="popover" data-placement="left" data-content="{{etCtrl.entityInfo.date}}">Время проведения</a>
        <script type="text/javascript">
            $(function () {
                $("[data-toggle='popover']").popover();
            });
        </script>
    </div>
    <div ng-if="etCtrl.isLandmark" class="sidebar-right">
		<div class="raiting text-center"><span class="raiting-news-block star-{{etCtrl.entityInfo.rating}}"></span></div>
        <div class="show-on-map" ng-click="$scope.showMap = !$scope.showMap" ng-show="!$scope.showMap && !$scope.showGallery"><span>Показать на карте</span><div class="icon-map"></div></div>
        <div class="close-on-map" ng-click="$scope.showMap = !$scope.showMap" ng-show="$scope.showMap && !$scope.showGallery"><span>Закрыть карту</span><div class="icon-close"></div></div>
        <div class="close-on-map" ng-click="$scope.showGallery = !$scope.showGallery" ng-show="!$scope.showMap && $scope.showGallery"><span>Закрыть галерею</span><div class="icon-close"></div></div>
        <a class="coordinats" tabindex="0" role="button" data-container="body"  data-html="true" data-trigger="focus" data-toggle="popover" data-placement="left" data-content="Широта: {{etCtrl.entityInfo.latitude}}<br/>Долгота: {{etCtrl.entityInfo.longitude}}">Координаты</a>
        <script type="text/javascript">
            $(function () { 
                $("[data-toggle='popover']").popover(); 
            });
        </script>
	</div>
</div>