<div class="upload-photo-block demo-block" ng-controller="areaAlbumController as aACtrl">
    <div ng-if="aACtrl.vert && aACtrl.generalType == 'main'" class="upload-list-photo">
        <img ng-src="{{aACtrl.baseUrl}}{{aACtrl.mainFoto.path}}"/>
        <img ng-src="{{aACtrl.baseUrl}}{{aACtrl.foto1.path}}"/>
        <img ng-src="{{aACtrl.baseUrl}}{{aACtrl.foto2.path}}"/>
    </div>
    <div ng-if="!aACtrl.vert && aACtrl.generalType == 'main'" class="upload-list-photo">
        <img ng-src="{{aACtrl.baseUrl}}{{aACtrl.mainFoto.path}}" width="300"/>
        <img ng-src="{{aACtrl.baseUrl}}{{aACtrl.foto1.path}}" width="300"/>
        <img ng-src="{{aACtrl.baseUrl}}{{aACtrl.foto2.path}}" width="300"/>
    </div>
    <div ng-if="aACtrl.generalType != 'main'" class="upload-list-photo">
        <img ng-src="{{aACtrl.baseUrl}}{{aACtrl.mainFoto.path}}" width="333"/>
        <img ng-src="{{aACtrl.baseUrl}}{{aACtrl.foto1.path}}" width="333"/>
    </div>
    <div class="upload-list-down">
        <a id="add-photo-on-countries-btn" href="">+ Добавить фото</a>
        <a id="all-photo-on-countries-btn" href="" ng-click="$scope.showGallery = !$scope.showGallery" ng-show="!$scope.showGallery">Все фото</a>
    </div> 
</div>